<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>393439003490-8dudad3v23dkj4r1a8ufadmhnhqga38c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393439003490-8dudad3v23dkj4r1a8ufadmhnhqga38c</string>
	<key>API_KEY</key>
	<string>AIzaSyCxHzosj8ZAFNSBH_Elvp8oWgSkSCgVrLI</string>
	<key>GCM_SENDER_ID</key>
	<string>393439003490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhendis.MarmaraEgzersizz</string>
	<key>PROJECT_ID</key>
	<string>marmaraegzersiz-45442</string>
	<key>STORAGE_BUCKET</key>
	<string>marmaraegzersiz-45442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393439003490:ios:d9f7384d07b9e149</string>
	<key>DATABASE_URL</key>
	<string>https://marmaraegzersiz-45442.firebaseio.com</string>
</dict>
</plist>